body {
  margin: 0;
  background: linear-gradient(90deg, rgba(24,11,29) 0%, rgba(124,23,53) 50%, rgba(173,18,84) 75%,rgba(236,8,43) 100%);
  padding-top: 20px;
}
h2 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Audiowide", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
#game-info p {
  text-align: center;
  color: white;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#splash-screen{

  margin-top: 5px;
  margin-bottom: 5px;
}

#columnas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  
}

#controles{
  float:left; 
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  transform: rotate(2deg);
  margin:15px;
  padding:0 5px;
  float:right;
  background:#2c2b2b2c;
  border:1px solid white;
  box-shadow:3px 3px 0 #222;
}

#controles img{
 justify-content: center;
  
}

#game-rules {
  color: white;
  float:left; 
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  transform: rotate(2deg);
  margin:15px;
  padding:0 5px;
  float:right;
  background:#2c2b2b2c;
  border:1px solid white;
  box-shadow:3px 3px 0 #222;
}
#game-rules li {
  color: white;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#game-info{
  
  box-sizing: border-box;
  float:left; 
  width: 400px;
  height: 300px;
  text-align: center;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  transform: rotate(2deg);
  margin:15px;
  padding:0 5px;
  float:right;
  background:#2c2b2b2c;
  border:1px solid white;
  box-shadow:3px 3px 0 #222;

}
.inicio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  
}
#score{
  color : white;
  font-family: "Audiowide", sans-serif;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  text-shadow:  1px 2px red, 0 0 1em blue, 0 0 0.2em blue;


}

#final-score{
  color : white;
  font-family: "Audiowide", sans-serif;
  font-size: 35px;
  text-shadow:  1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}


#start-game-btn {
  background-image: url("./img/startBtn.png");
  color: transparent;
  padding: 20px;
  font-size: 25px;
  margin-top: 40px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}



#game-box {
  background-color: black;
  width: 775px;
  height: 800px;

  position: relative;
  overflow: hidden;
  user-select: none;
  background-image: url("./img/background-1_0.png");
  background-position: center;
  background-size: cover;
  border: 5px solid black;
}
#game-box * {
  pointer-events: none;
}
#game-screen,
#game-over-screen {
  display: none;
}
#restart-game-btn {
  background-image: url("./img/restart.png");
  color: transparent;
  padding: 20px;
  font-size: 25px;
  margin-top: 40px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

#scoreList li{
  color : white;
  font-family: "Audiowide", sans-serif;
  font-size: 25px;
  text-shadow:  1px 2px red, 0 0 1em blue, 0 0 0.2em blue;


}


