body {
  margin: 0;
  background-color: darkslategrey;
}
h2{
display: flex;
  justify-content: center;
  color: white;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-shadow: 10px 10px 20px rgb(255, 5, 5);
  
}
#game-info p{
  width:700px;
  text-align: center;
  color: white;
}

#game-rules{
  color: white;
}
#game-rules li{
  color: white;
}

#booster-img{
  width: 20px;
  height: 20px;
}
#start-game-btn{
  background-image:url("./img/startBtn.png");
  color: transparent;
  padding: 20px;
  font-size: 25px;
  margin-top: 40px;
  border-radius: 10px;
  background-position: center;
background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
#game-box {
  background-color: black;
  width:775px;
  height:800px;

  position: relative; 
 /* overflow: hidden; */
  user-select: none; 
background-image: url("./img/background-1_0.png");
background-position: center;
background-size: cover;

}
#game-box * {
  pointer-events: none; 
}
#game-screen, #game-over-screen {
  display: none;
}